
//contenedor de la pagina about

    .bar {
        border-top: #d4d4d413 3px solid;
    }

    .iconsocial { 
        padding: 1px;
        color: #ccc;
    }

    .social2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -3px 0 0 0;
        border-radius: 10px 10px 0 0;
        padding-top: 20px;
        a { 
            display: inline-block; 
            width: 40px; 
            height: 40px; 
            border-radius: 10px; 
            color: #fff; 
            text-align: center; 
            line-height: 40px; 
            margin-right: 10px;
            border-bottom: #ccc 2px solid;
            transition: all 0.5s ease-in-out; 
            &:hover { 
                transform: scale(1.2);
                border-bottom: #ffffff 2px solid;
            }
        }
    }

    .social { 
        margin: -3px 0 0 0;
        @media screen and (max-width: 768px) {
            display: none;
        }
        a { 
            display: inline-block; 
            width: 40px; 
            height: 40px; 
            border-radius: 10px; 
            color: #fff; 
            text-align: center; 
            line-height: 40px; 
            margin-right: 10px;
            transition: all 1s ease-in-out; 
            &:hover { 
                transform: scale(1.2);
                border-bottom: #333 2px solid;
                color: #ccc;
            }
        }
    }

    .section {
        position: relative;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgba(35, 63, 169, 0);
    }

    .maine-div-copy {
        top: 0%;
        width: auto;
        margin-top: 80px;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .heading {
        position: absolute;
        top: 0%;
        width: 50%;
        margin-top: 80px;
        margin-left: 2rem;

        font-family: Fellix, sans-serif;
        color: #f5f6ff;
        font-size: 60px;
        line-height: 64px;
        font-weight: 600;
        letter-spacing: -1px;
    }

    .image-28 {
        //margin-top: 35px;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
        @media screen and (max-width: 767px)
        {        
            .image-28 {
            width: 200%;
            max-width: 200%;
        }

        @media screen and (max-width: 991px) {
            .image-28 {
                margin-top: 35px;
            }
        }
    }
    }

    .thinkcont {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        transition: all 0.5s ease-in-out;
        &:hover {
            opacity: 1;
        }
        .think {
            margin-bottom: -20px;
            margin-left: 200px;
            font-size: 16px;
            background-color: #333;
            padding: 10px;
            border-radius: 8px 8px 8px 0;
        }
}

//Print
@media print {
    body * {
      visibility: hidden;
      //background-color: #ffffff;
    }
    .print-content, .print-content * {
      visibility: visible;
    }
    .print-content {
        display: block;
        color: black;
    }
  }