footer {

    width: 100%;
    text-align: center;
    border: 0;
    //background-color: white ;

    .cat {
        width: 100%;
        cursor: pointer;
        font-size: 16px;
        border-radius: 20px 20px 0 20px;
    }
    .copy {
        font-size: 12px;
        color: #fff;
        margin: 20px;
        padding: 0;
        text-align: center;
    }
}

.puppycontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    //margin: 0 auto;
    width: 100%;
    height: 100%;
    //background-color: #8e2b2b;
    color: white;
    transition: all 0.5s ease-in-out;
    &:hover {
        opacity: 1;
    }
    .puppy {
        font-size: 16px;
        //background-color: #3333338f;
        padding: 10px;
        border-radius: 8px 8px 8px 0;
    }
    .puppyhome {
        border-bottom: 1px solid white;
    }
    &:focus {
        content: '_______';
    }
}

.fondo {
    height: 200px;
    width: 100%;
    margin-top: 100px;
    opacity: 0.8;
    //border-radius: 0 0 20px 20px;
}

.thinkcont {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: #8e2b2b;
    color: white;
    transition: all 0.5s ease-in-out;
    &:hover {
        opacity: 1;
    }
    .think {
        font-size: 16px;
        //background-color: #3333338f;
        padding: 10px;
        border-radius: 8px 8px 8px 0;
    }
}