@import 'post.scss';
@import 'about.scss';
@import 'footer.scss';
@import 'navbar.scss';
@import 'theme.scss';

:root{
  a {
    text-decoration: none;
    color: #323131;
  }
}

body {
  //width: 1200px;
  margin: auto;
  padding: auto;
  background-image: url('https://www.platoapp.com/assets/images/Stars2.svg');
  background-attachment: fixed;
  //background-color:  rgba(66, 143, 118, 0.38);
  background-color: #010530;
  //dark   background-color: #050509ee;
  font-family: 'Roboto', sans-serif;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  .darkmode {
    margin: auto;
    padding: auto;
    background-image: url('https://www.platoapp.com/assets/images/Stars-1.svg');
    background-attachment: fixed;
    //background-color:  rgba(66, 143, 118, 0.38);
    background-color: #050509ee;
    //dark   background-color: #050509ee;
    font-family: 'Roboto', sans-serif;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}

//keyframe scale animation
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    background-color: #ffffffe8;
  }
  100% {
    transform: scale(1);
  }
}

.buttonabsolute {
  position: fixed;
  width: 45px;
  height: 40px;
  right: 0;
  bottom: 0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff86;
  color: #ffffff;
  animation: scale 1s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
  &:hover {

    scale: 1.1;
    background-color: #ffffff78;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
  }
}

.paragraph {
  font-family: Fellix, sans-serif;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #b8b8b8;
  margin: 0;
  text-align: center;
}

.title {
  font-family: Fellix, sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #ffffff;
  margin: 5px 0 50px 0;
  //margin-left: 40px;
  text-align: center;
  text-shadow: #010530 10px 10px 10px;
}

.button {
  margin-left: 8px !important;
}

.paragraph2 {
  font-family: Fellix, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b8b8b8;
  margin: 0 0 20px 0;
  text-align: center;
}

.imput {
  background-color: #ffffff61;
  opacity: 0.8;
  font-family: Fellix, sans-serif;
  color: #ffffff;
  margin: 10px 0 20px 0;
  text-align: center;
  width: 40%;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  //border-bottom: #b8b8b8 1px solid;
  transition: all 1s ease-in-out;
    &:hover {
      background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-');
      height: 40px;
      font-size: 1rem;
      //line-height: 1.5;
      color: #000000;
      opacity: 1;
      //border: #b8b8b8 1px solid;
    }
    &:focus {
      outline: none;
    }
}
