@import 'post.scss';
@import 'about.scss';
@import 'footer.scss';
@import 'navbar.scss';
@import 'theme.scss';

:root{
  a {
    text-decoration: none;
    color: #323131;
  }
}

body {
  //width: 1200px;
  margin: auto;
  padding: auto;
  //background-image: url('https://www.platoapp.com/assets/images/Stars2.svg');
  background-attachment: fixed;
  //background-color:  rgba(66, 143, 118, 0.38);
  background-color: #010530;
  //dark   background-color: #050509ee;
  font-family: 'Roboto', sans-serif;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  .darkmode {
    margin: auto;
    padding: auto;
    //background-image: url('https://www.platoapp.com/assets/images/Stars-1.svg');
    background-attachment: fixed;
    //background-color:  rgba(66, 143, 118, 0.38);
    background-color: #050509ee;
    //dark   background-color: #050509ee;
    font-family: 'Roboto', sans-serif;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}

//keyframe scale animation
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    background-color: #ffffffe8;
  }
  100% {
    transform: scale(1);
  }
}

.buttonabsolute {
  position: fixed;
  width: 45px;
  height: 40px;
  right: 0;
  bottom: 0;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff86;
  color: #ffffff;
  animation: scale 1s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
  &:hover {

    scale: 1.1;
    background-color: #ffffff78;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
  }
}

.paragraph {
  font-family: Fellix, sans-serif;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #b8b8b8;
  margin: 0;
  text-align: center;
}

//keyframe color border animation
@keyframes color {
  0% {
    border-top: #00b1d5 1px solid;
    border-right: #00b1d57a 1px solid;
  }
  30% {
    border-right: #00b1d5 1px solid;
    border-bottom: #00b1d581 1px solid;
  }
  60% {
    border-bottom: #00b1d5 1px solid;
    border-left: #00b1d578 1px solid;
  }
  100% {
    border-left: #00b1d5 1px solid;
    border-top: #00b1d575 1px solid;
  }
}
.sizelogo {
  width: 50px;
  height: 50px;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.5);
    color: #ffffff;
  }
}

.iconlogo {
  width: auto;

  margin: 20px;
  padding: 0;
  border-radius: 50%;
  //background-color: #000000;
  color: #00b1d5;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.7);
    color: #ffffff;
  }
}
.showide {
  background-color: #b8b8b800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //width: 100%;
  //background-image: url('https://media3.giphy.com/media/NNmJyVWriRDlS/giphy.gif?cid=ecf05e47msz9qfggnyvjjiks48tni8pfqqzumn1ebusf5681&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 0 5px 0 5px;
  color: #ffffff;
  border: none;
  height: 98px;
  margin-right: 15px;
  border-radius: 10%;
  border-top: #b8b8b8 3px solid;
  border-bottom: #b8b8b8 3px solid;
  font-size: 1rem;
  //animation: color 1s ease-in-out infinite;
  transition: all 0.1s ease-in-out;
  &:hover {
    //background-color: #00b1d56a;
    // width: 50%;
    // border-bottom: #00b1d5 1px solid; 
    color: #ffffff;
  }
  &:focus > .showfav {
    transition: all 0.5s ease;
    outline: none;
    content: ">";
  }
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.showfav {
  background-color: #b8b8b800;
  margin-left: 20px;
  padding: 10px;
  color: #ffffff;
  width: 50px;
  //border-top: #00b1d5 1px solid; 
  border-radius: 50%;
  font-family: Fellix, sans-serif;
  font-size: 1.5rem;
  animation: color 1s ease-in-out infinite;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: #00b1d56a;
    //border-bottom: #ffffff 1px solid;
    //size font
    //font-size: 1.8rem;
    color: #ffffff;
  }
  &:focus > .showfav {
    transition: all 0.5s ease;
    outline: none;
    content: ">";
  }
}

.title {
  font-family: Fellix, sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #ffffff;
  margin: 5px 0 50px 0;
  //margin-left: 40px;
  text-align: center;
  text-shadow: #010530 10px 10px 10px;
}

.button {
  margin-left: 8px !important;
}

.paragraph2 {
  font-family: Fellix, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b8b8b8;
  margin: 0 0 20px 0;
  text-align: center;
}

.imput {
  background-color: #b8b8b800;
  opacity: 0.8;
  font-family: Fellix, sans-serif;
  color: #ffffff;
  padding: -10px;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  //border-bottom: #00b1d5 1px solid;
  //border-bottom: #b8b8b8 1px solid;
  transition: all 1s ease-in-out;
    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
}
