//dark
[data-theme="dark"] {
    body {
        margin: auto;
        padding: auto;
        background-image: url('https://www.platoapp.com/assets/images/Stars2.svg');
        background-attachment: fixed;
        //background-color:  rgba(66, 143, 118, 0.38);
        background-color: #050509ee;
        //dark   background-color: #050509ee;
        font-family: 'Roboto', sans-serif;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
    }

}
//light
[data-theme="light"] {
    body {
        margin: auto;
        padding: auto;
        background-image: url('https://www.platoapp.com/assets/images/Stars-1.svg');
        background-attachment: fixed;
        //background-color:  rgba(66, 143, 118, 0.38);
        background-color: #010530;
        //dark   background-color: #050509ee;
        font-family: 'Roboto', sans-serif;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
    }
}